

/* Page decoration */

.album_list__box {
    border: 1px solid yellow;
}

/* Album information decoration. */

img {
    width: 100px;
}

span {
    display: block;
    text-align: center;
  }
  
.album {
    display: inline-block;
    border: 2px dotted #bfbfbf;
}

/* Popup */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

#video_pop {
    z-index: 9999; 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%; 
    background: rgba(0,0,0,0.5); 
    display: none;
    cursor: pointer;
}

#the_Video {
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}
/*Murtada code*/


.modal-overlay {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5rem;
  background: rgba(0, 0, 0, .75);
  display: none;
}

.modal-overlay.is-open {
  display: block;
}

.modal-iframe {
  width: 100%;
  height: 100%;
}

.modal-button-close {
  position: absolute;
  top: 3rem;
  right: 3rem;
}
